/* position */

.ai-c {
    align-items: center;
}

.d-f {
    display: flex;
}

.fxd-c {
    flex-direction: column;
}

.jc-c {
    justify-content: center;
}

.mt-05r {
    margin-top: .5rem;
}

.hidden {
    display: none;
}
/* button style */
.btnOne {
    margin-top: .5rem;
}

.btnTwo {
    margin-top: .5rem;
}

.btnThree {
    margin-top: .5rem;
}

.btnFour {
    margin-top: .5rem;
}